<% require 'pry' %> 
<% if !current_user.workouts.empty? && logged_in? %> 
<% current_user.workouts.each do |workout| %> 
    
   <h1> Started: <%= workout.start_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 

   <% if workout.end_time %> 
  
        <h1> End Time : <%= workout.end_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 
   <% end %> 
    <%= link_to "View Details", workout_workout_lifts_path(workout) %> 
    <%end%> 
    <%= form_for(Workout.new) do |f| %> 
     <%= f.submit "Start New Workout" %> 
     <% end %><br>
<% else %> 
    <%= form_for(Workout.new) do |f| %> 
     <%= f.submit "Start New Workout" %> 
     <% end %><br>
<%end %> 
    
    
