<% if !@workouts.empty? && logged_in? %> 
<% @workouts.each do |workout| %> 
    
   <h1> Started: <%= workout.start_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 

   <% if workout.workout_ended? %> 
        <h1> End Time : <%= workout.end_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 
   <% end %> 
    <%= link_to "View Details", workout_workout_lifts_path(workout) %> 
    <%end%> 
<% else %> 
    <%= link_to "Start Workout", new_user_workout(@user.workout) %> 
<%end %> 
    
<%= form_for(Workout.new) do |f| %> 
    <%= f.submit "Start Workout" %> 
    <% end %><br> 

<%= link_to "Log Out", logout_path %> 