
<div class="workoutDiv"> 

<% if !current_user.workouts.empty? && logged_in? %> 
<% current_user.workouts.each do |workout| %> 
    
   <h1> Start Time: <%= workout.start_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 

   <% if workout.end_time %> 
  
         <h1> End Time : <%= workout.end_time.strftime("%d %b %Y %l:%M %p")  %> </h1> 
   <% end %> 
    
    <%= link_to "View Details", workout_path(workout), :id => "workout_show", class: 'btn btn-primary center-block' %> <br><br>
     
    
    <%end%> 
    
<% else %> 
    <%= form_for(Workout.new) do |f| %> 
     <%= f.submit "Start New Workout" %> 
     <% end %><br>
<%end %> 
<div> 
<script> 

document.getElementById('new_workout').addEventListener('submit', e => {
  
  var token = e.target.querySelector('input[name=authenticity_token]').value 
  var workout_url = `http://localhost:3000/workout`
       
      fetch(`${workout_url}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json', 
          'Accept' : 'application/json',
          'X-CSRF-token': token
        }, 
        body: JSON.stringify(data)
      })
      .then(resp=> resp.json())
      .then(workout => {
        displayWorkout(workout)
      })
      .catch(e => {
        console.log(e);
        return e;
      });
})

</script> 
    
    
