
<h1 id="workoutStartEnd"> <%= @workout.start_time.strftime("Start Date & Time: %A, %d %b %Y %l:%M %p") %> </h1> 

<div id="workoutLifts"> 

 <%# @workout.workout_lifts.each do |workout_lift| %> 
    <h2 id="workoutLiftName"> <%#= link_to workout_lift.name, lift_path(workout_lift.lift) %> <h2><br>
     <div id ="details"> <%#= link_to "Edit #{workout_lift.name}", edit_workout_workout_lift_path(@workout, workout_lift) %> </div><br> 
   <%# workout_lift.exercise_sets.each.with_index(1) do |exercise_set, i| %> 
     <h3> Set <%#= i %> </h3> 
     <p id="weight">  </p>
     <p id="reps">  <%#= exercise_set.reps %></p><br> 
  
   <%#end %>  
 <%# end %> 
 <div id="myModal" class="modal"> 
  <div class="modal-content">
    <%= form_for( ExerciseSet.new) do |f| %> 
      <%= f.hidden_field :workout_lift_id, value: ""  %> 
      <p> 
      <%= f.label :weight %> 
      <%= f.number_field :weight %> 
      <%= f.label :reps %> 
      <%= f.number_field :reps %> 
      </p> 
      <%= f.submit "Add Set"  %> 

      <span class="close">&times;</span>
    <%end%> 
  </div>
</div>
<div> 
<script type="text/javascript" charset="utf-8"> 
 
  function showEditForm(exerciseSetId, workout_lift_id) {
   
    // document.querySelector("form #exercise_set_workout_lift_id").value = id 
    document.querySelector("#myModal").style.display = "block"; 
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0]
    
    span.onclick = function() {
      modal.style.display = "none"
    }
    
     document.getElementById("new_exercise_set").addEventListener('submit', e => {
      e.preventDefault()
    debugger 
      var workout_lift_id = document.querySelector("form #exercise_set_workout_lift_id").value 
      var token = e.target.querySelector('input[name=authenticity_token').value 
      var data = {exercise_set: {}}; 
      
      data["exercise_set"]["weight"] = e.target.querySelector("#exercise_set_weight").value 
      data["exercise_set"]["reps"] = e.target.querySelector("#exercise_set_reps").value 
      
      var exercise_set_url = `http:localhost:3000/workout_lifts/${workout_lift_id}/exercise_sets/${exerciseSetId}`
      
      fetch(`${exercise_set_url}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json', 
          'Accept' : 'application/json',
          'X-CSRF-token': token
        }, 
        body: JSON.stringify(data)
      })
      .then(resp=> resp.json())
      .then(exercise_set => {
        displayEditedExerciseSets(exercise_set)
      })
      .catch(e => {
        console.log(e);
        return e;
      }); 

    })

  }

  function displayEditedExerciseSets(exercise_set_data) {
       
      let js_exercise_set = new ExerciseSet(exercise_set_data)
      document.querySelector(`div #Workout_${js_exercise_set.workout_lift_id} ol`).innerHTML += js_exercise_set.set_weight_reps()
      
      document.getElementsByName("commit")[0].disabled = false 
    }
  function addSet(id) {
    document.querySelector("form #exercise_set_workout_lift_id").value = id 
    document.querySelector("#myModal").style.display = "block"; 
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0]
    span.onclick = function() {
      modal.style.display = "none"
    }
  


  }

// document.addEventListener('turbolinks:load', funtion () {
//   var showSetButtons = document.querySelectorAll("#exerciseSetIndex")
//   const getSets = () => { 
    
//     debugger 
     
//   }
//   addEventListenerSetList(showSetButtons, 'click', getSets)
// })
</script>