
<div id="workoutLifts"> 
  <h2 class="welcome-user"> <%=current_user.name %>'s workout: </h2> <h1 id="workout-start-time">Start: <%= @workout.start_time.strftime("%A, %d %b %Y %l:%M %p") %> </h1>
  <% if @workout.end_time %>
    <h1 id="workout-end-time"> <%= @workout.end_time.strftime("%A, %d %b %Y %l:%M %p") %> </h1>
  <% end %>
   <ul>
    <div id="add-workoutlift-button">
      <h2 id="workoutlift-name"><h2>
        <div id ="details"></div>
          <p id="weight"></p>
            <p id="reps"></p>
    </ul>

<div id="exerciseset-modal" class="modal">  
  <div class="modal-content">
    <span onclick="byeModal()" class="close">&times;</span>
    <%= form_for( ExerciseSet.new) do |f| %> 
      <%= f.hidden_field :workout_lift_id, value: ""  %> 
      <%= f.label :weight %> 
      <%= f.number_field :weight, :required => true %> 
      <%= f.label :reps %> 
      <%= f.number_field :reps, :required => true %> 
      <%= f.submit "Add Set", data: {disable_with: false}, class: "btn btn-success btn-sm" %> 
    <%end%> 
  </div>
</div> 

  <div id="workoutlift-modal" class="modal">  
     <div class="modal-content"> 
    <%= form_for( WorkoutLift.new ) do |f| %> 
      <%= f.hidden_field :workout_lift_id, value: ""  %> 
      <p> 
      <%= f.label :name %>
       <%= f.collection_select :lift_id, Lift.all.reject{|l| @workout.lifts.include?(l)}, :id, :name %> 
      <%= f.hidden_field :workout_id, value: @workout.id %> 
      <%= f.label :name %> 
      </p> 
      <%= f.submit "Add Lift"  %> 

      <span onclick="byeModal()" class="close">&times;</span>
    <%end%> 
     </div> 
    </div> 

<%= link_to "All workouts", workouts_path(@workout)%>

  <%= form_for :workout, url: { controller: "workouts", action: "update", id: "#{@workout.id}" }, method: :put  do |f| %>
    <%= button_tag type: 'submit', class: "button finish-workout", id: "finish-button" do %>
          <i class="fas fa-check-square"></i>
        <% end %> 
      
  <% end %><br>

</div>

<script type="text/javascript" charset="utf-8"> 

  function addWorkoutLift(id) {
    
    document.querySelector("#workoutlift-modal").style.display = "block"; 

  }
 
  function showEditForm(exerciseSetId, workout_lift_id) {

    document.querySelector("#exerciseset-modal").style.display = "block"; 
    var modal = document.getElementById("exerciseset-modal");
    var span = document.getElementsByClassName("close")[0]
    
    span.onclick = function() {
      
      modal.style.display = "none"
    }
    
     document.getElementById("new_exercise_set").addEventListener('submit', e => {
      e.preventDefault()
    
      var workout_lift_id = document.querySelector("form #exercise_set_workout_lift_id").value 
      var token = e.target.querySelector('input[name=authenticity_token]').value 
      var data = {exercise_set: {}}; 
    
      data["exercise_set"]["weight"] = e.target.querySelector("#exercise_set_weight").value 
      data["exercise_set"]["reps"] = e.target.querySelector("#exercise_set_reps").value 
      
      var exercise_set_url = `http:localhost:3000/workout_lifts/${workout_lift_id}/exercise_sets/${exerciseSetId}`
      
      fetch(`${exercise_set_url}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json', 
          'Accept' : 'application/json',
          'X-CSRF-token': token
        }, 
        body: JSON.stringify(data)
      })
      .then(resp=> resp.json())
      .then(exercise_set => {
        displayEditedExerciseSets(exercise_set)
      })
      .catch(e => {
        console.log(e);
        return e;
      });
    })
  } 

  function displayEditedExerciseSets(exercise_set_data) {
    
    let js_exercise_set = new ExerciseSet(exercise_set_data)
    document.querySelector(`div #Workout_${js_exercise_set.workout_lift_id} ol`).innerHTML += js_exercise_set.set_weight_reps()

    document.getElementsByName("commit")[0].disabled = false 
    byeModal()
  }
  function byeModal(){
   
    var modal = document.getElementById("exerciseset-modal");
    modal.style.display = "none"
  }

  function addSet(id) {
    
    document.querySelector("form #exercise_set_workout_lift_id").value = id 
    document.querySelector("#exerciseset-modal").style.display = "block"; 
    
  }
</script>