
<% if @user.errors.any? %>
    <%= binding.pry %>
  
    <%# end%>
<% end%>
<div class="login-container" >
 <div class="login-form">
      <%= form_for(:sessions, url: login_path) do |f| %>
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <%= f.label :email, "Email" %><br /> 
            <%= f.text_field :email, class: "form-control", placeholder: "email", required: "email" %>
        </div>
        <div class="form-group">
             <%= f.label :password, "Password" %><br /> 
             <%= f.text_field :password, class: "form-control", placeholder: "password", required: "password" %>
        </div>
        <div class="form-group">
            <%= f.submit "Log in", type:"submit", class: "btn btn-primary btn-block" %> 
        </div>   
            <% end %>   
       <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    
    <p class="text-center"><a href="/signup">Create an Account</a></p>
</div>

</div> 
   