
<%= form_for(:sessions, url: login_path, html: {class: "col-lg-6 col-lg-offset-3"}) do |f| %> 
    <%=f.label :email%> 
    <%=f.text_field :email %> 
    <%= f.password_field :password %>
    <%=f.submit "Login" %> 

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
   <%end%> 