<h1> Update Workout </h1>  
<h2> Update <%="#{@workout_lift.lift.name}"%> <h2> 
<%= form_for(@workout_lift) do |f| %> 
  <%= f.hidden_field :user_id, value: current_user.id %> 
  <%= f.collection_select :lift_id, Lift.all, :id, :name %> 
    <%= f.hidden_field :workout_id, value: @workout.id %> 
    <% @workout_lift.exercise_sets.each do |set| %> 
        <%= f.fields_for :exercise_sets, set do |exercise_set| %>
            <%= exercise_set.label "Weight" %> 
            <%= exercise_set.number_field :weight %> 
            <br>
            <%= exercise_set.label "Reps" %> 
            <%= exercise_set.number_field :reps %> 
            <br><br>
        <%end%>
    <% end %> 
     <%= f.submit "Submit Weight and Reps" %> 
<%end %> 
<%= link_to 'Delete Exercise', workout_workout_lift_path(@workout), method: :delete %>