<h1> <%= @workout.start_time %> </h1> 
<% @workout_lifts.each do |workout_lift| %> 
  <h2> <%= workout_lift.name %> <h2> 
  <% workout_lift.exercise_sets.each.with_index(1) do |exercise_set, i| %> 
    <h3> Set <%= i %> </h3> 
    <p> Weight: <%= exercise_set.weight %></p>
    <p> Sets:  <%= exercise_set.reps %></p> 
  <%end %> 
  
  <%= form_for([workout_lift, ExerciseSet.new]) do |f| %> 
    <%= f.hidden_field :workout_lift_id, value: workout_lift.id %> 
    <%= f.label :weight %> 
    <%= f.number_field :weight %> 
    <%= f.label :reps %> 
    <%= f.number_field :reps %> 
    <%= f.submit "Add Set" %> 
  <%end%> 
<%end%> 
<h2> Add New Exercise to Workout </h2> 
<%= form_for(@workout_lift) do |f| %> 
  <%= f.hidden_field :user_id, value: current_user.id %> 
  <%= f.collection_select :lift, Lift.all, :id, :name %> 
  <%= f.hidden_field :workout_id, value: @workout.id %> 
  <%= f.fields_for :exercise_sets, @workout_lift.exercise_sets.build do |exercise_set| %> 
    <%= exercise_set.label "Weight" %> 
    <%= exercise_set.number_field :weight %> 
    <%= exercise_set.label "Reps" %> 
    <%= exercise_set.number_field :reps %> 
    <%= f.submit "Submit Weight and Reps" %> 
    <%end%>
  <%end%>





