<!DOCTYPE html>
<html>
  <head>
  
    <title>SwoleLog</title>
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %> 
 <%= link_to "Log Out", logout_path, method: :delete %><br>  
 <% else %> 
  <%= link_to "Login", login_path %> 
  <% end %><br> 
 <%= link_to('Log in with Facebook!', '/auth/facebook') %>
    <%= yield %>
  </body>
</html>
